.selectDiv {
  display: flex;
  flex-direction: column;
}

.selectDiv label {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.selectDiv .errorLabel {
  color: #e52f2f !important;
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  appearance: none;
  font-family: "helvetic", sans-serif;
  border: 1px solid #bcbcbc;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  max-width: 370px;
  width: 100%;
  padding: 15px 15px 17.5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.passText {
  color: #000 !important;
}
.passBorder {
  outline: 1px solid #98e37e !important;
}
.selectContainer span {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.select {
  color: black !important;
}

.dropDownContainer ul {
  max-width: 370px;
  width: 100%;
  position: absolute;
  list-style-type: none;
  filter: drop-shadow(0px 16px 28px rgba(0, 0, 0, 0.24));
  border-radius: 4px;
  background: white;
}

.dropDownContainer li {
  padding: 10px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1a1a1a;
  cursor: pointer;
}
.dropDownContainer li:hover {
  background-color: #c3dcee;
}

.errorBorder {
  outline: 1px solid #ef5050 !important;
}
