.cv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  max-width: 822px;
  max-height: 1080px;
  width: 100%;
  padding: 50px 80px 44px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.cv .cvDiv {
  width: 100%;
}
