.formContainer {
  width: 80%;
}

.formTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 12px;
  margin-bottom: 88px;
}

.formTitle h2 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}

.formTitle p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
}
