@font-face {
  font-family: "helvetic";
  src: url(./assets/fonts/HelveticaNeue.ttc) format("truetype");
}

html {
  font-family: "helvetic", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
